* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  height: 30vh;
  width: 99vw;
  background-color: rgba(248, 67, 12, 0.8);
}

#barchart {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  gap: 2px;
  margin: 0 auto;
  align-items: end;
  height: 100%;
}

.bar {
  background-color: rgb(38, 24, 236);
  box-shadow: -3px -1px 4px 0px rgb(0, 0, 0, 0.5);
  height: 10px;
}
